OPEN_API_KEY="CHANGE_ME"
AFL_COMPILER_PATH="/app/afl-2.52b/afl-gcc"
AFL_FUZZER_PATH="/app/afl-2.52b/afl-fuzz"
BUGLOG_PATH="/app/bugLog"
CODEBASE_PATH="/app/codebase/"
EXECUTABLES_PATH="/app/executables/"
EXECUTABLES_AFL_PATH="/app/executables_afl/"
INPUT_PATH="/app/input/"
PATCHED_CODES_PATH="/app/patched_codes/"
