OPEN_API_KEY='CHANGE_ME'
LLAMA_API_KEY='CHANGE_ME'
AFL_COMPILER_PATH='/app/afl-2.52b/afl-gcc'
AFL_FUZZER_PATH='/app/afl-2.52b/afl-fuzz'
BUGLOG_PATH='/app/src/bugLog'
CODEBASE_PATH='/app/src/codebase/'
EXECUTABLES_PATH='/app/src/executables/'
EXECUTABLES_AFL_PATH='/app/src/executables_afl/'
INPUT_PATH='/app/src/input/'
PATCHED_CODES_PATH='/app/src/patched_codes/'
