# Optional.  To use, add:
#     "--env-file", ".devcontainer/devcontainer.env"
# to your "runArgs" array in devcontainer.json

FUZZ_SVC_CONFIG=/workspace/AutoPatch-LLM/src/fuzzing-service/dev-config.json
OPEN_API_KEY='CHANGE_ME'
LLAMA_API_KEY='CHANGE_ME'
